body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #081f3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.logo {
  width: 100px;
}
.header-links a {
  color: white;
  padding: 5px 15px;
  text-decoration: none;
  border-radius: 15px;
}
.header-links a:hover {
  background-color: #062f5e;
}
.btn {
  background-color: #ee626b;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 15px;
}
.btn:hover {
  background-color: #f2858c;
}

.landing-page {
  background-color: #081f3a;
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  align-items: center;
  color: white;
  border-radius: 0 0 50px 50px;
}
.landing-page-left {
  width: 500px;
}
.search input {
  border-radius: 50px;
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
}
.search button {
  position: absolute;
  left: 200px;
  height: 30px;
}
.image-container img {
  border-radius: 20px;
  width: 250px;
}
.Ternding-container {
  padding: 25px 50px;
}
.Ternding-container span {
  color: #ee626b;
  text-transform: uppercase;
  font-size: 14px;
}
.trending-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trending-Header h1 {
  margin-top: 0;
}
.trending-card {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.card {
  background-color: #eeeeee;
  width: 300px;
  border-radius: 20px;
}
.card .thumb {
  border-radius: 20px 20px 0 0;
}
.card-info {
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
}
.card-info img {
  width: 50px;
}
.Top-container {
  padding: 25px 50px;
  background-color: #eeeeee;
  border-radius: 20px;
}
.card-top{
  width: 300px;
  border-radius: 20px;
}
.card-top img{
  border-radius: 20px;
  gap: 12px;
}
.card-top .thumbe{
  text-align: center;
}
.categories-container{
  padding: 25px 50px;
}